<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <h1>Synapse is ready !</h1>
        <h3>This is the default template.</h3>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
