<div class="navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    {% for menu in page_menu %}
      <li>{{  render_page_menu(menu) }}</li>
    {% endfor %}
  </ul>
</div>
