{% extends synapse.admin.base_layout %}

{% block menu_elements %}
  <li class="menu-item">
    <a class="menu-link" href="{{ path('synapse_admin_skeleton_list') }}">
      <i class="icon fa fa-object-group"></i>
      <span class="menu-label">Skeletons</span>
    </a>
  </li>
  <li class="menu-item">
    <a class="menu-link" href="{{ path('synapse_admin_media_list') }}">
      <i class="icon fa fa-picture-o"></i>
      <span class="menu-label">Medias</span>
    </a>
  </li>
  {{ parent() }}
{% endblock %}
