@import 'vars';
@import '../../node_modules/majora-admin-theme/src/scss/main';

// Styles

a.logo {
  margin-left: -5px;
  margin-top: 8px;

  img {
    height: 2.1em;
  }
}

.form-control {
  border: 1px solid $gray-neutral-50;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}

.panel-body-info {
  p {
    margin: 0;
  }
}
p.info {
  span.badge {
    margin-right: 5px;
  }
}
.component-form-content p.info {
  padding-left: 10px;
  padding-bottom: 5px;
}

.dropzone {
  border: 2px dotted $color-dropzone;

  .dz-default.dz-message {
    color: $color-dropzone;
    font-size: 14px;
    font-style: italic;
  }
}

.button-bar {
  text-align: center;

  &.affix {
    position: fixed !important;
    top: $syn-header-height + $syn-generic-margin;
  }

  .btn-big {
    margin-bottom: 10px;
  }
}

.btn-big {
  width: $syn-button-size;
  height: $syn-button-size;
  text-align: center;

  i {
    display: block;
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.row-fluid {
  display: flex;
  flex-direction: row;
}

.col-fix,
.col-fill {
  min-height: 1px;
  position: relative;
}

.col-fill {
  flex: 1 1 auto;
  padding-left: 0;
  padding-right: $syn-generic-margin;
}

.col-fix {
  flex: 0 0 auto;
  width: $syn-button-size;

  .button-bar {
    width: $syn-button-size;
  }

  + .col-fill {
    padding-left: $syn-generic-margin;
  }
}

.image-container {
  width: 100%;

  > img {
    max-width: 100%;
    border: solid 1px $gray-neutral-50;
  }

  &.cropping-area > img {
    width: 100%;
    border-width: 0;
  }
}

.format-action-bar {
  margin: 15px 0;
}

.synapse-theme-form {

  > .tab-content {
    margin-top: -100px;
  }

  .template-init-message {
    padding-top: 10px;
  }

  .template-init-button {
    margin-right: $syn-generic-margin;
    margin-top: $syn-generic-margin;
  }

  .separator {
    margin-top: 25px;
    text-align: center;
    color: $color-bg-main;
  }

  &.synapse-template-form {
    .separator {
      display: none;
    }
  }

  .zone-form-container {
    margin-top: $syn-generic-margin;

    h4 {
      margin-top: 0;
    }
  }

  .component-form-wrapper {
    background: #F1F1F8;

    border-radius: 5px;

    &:nth-child(n+2) {
      margin-top: 30px;
    }
  }

  .component-form-header {
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;

    .center {
      margin: auto;
    }

    label,
    .label {
      margin-bottom: 0;
    }

    .action {
      order: 5;
    }
  }

  .component-form-content {
    padding: 0 10px 1px;
  }

  .component-form-toggle .icon {
    transition: transform 200ms;
  }

  .component-form-toggle.collapsed .icon {
    transform: rotate(180deg);
  }
}
