<div class="navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    {% for label, link in page_menu %}
      <li><a href="{{ link.url }}">{{ link.label }}</a></li>
    {% endfor %}
  </ul>
</div>
