<div class="container">
  <h1 class="display-3">Hello, Synapse {{ content.title }} !</h1>
  <p>{{ html|raw }}</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
</div>
