<div class="col-md-4">
  <h2>A Free component</h2>
  <p>{{ include('SynapseCmfBundle:Component:free.html.twig', { 'html': html }) }}</p>
  <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  {{ dump() }}
</div>
