<div class="row">
  <div class="col-sm-12">
    <h3>Some custom static component</h3>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dummyimage.com/250X200/000/fff" alt="Dummy image">
      <div class="caption">
        <h3>First title</h3>
        <p>Some text content</p>
        <p><a href="#" class="btn btn-primary" role="button">Select</a> <a href="#" class="btn btn-default" role="button">Cancel</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dummyimage.com/250X200/000/fff" alt="Dummy image">
      <div class="caption">
        <h3>Second title</h3>
        <p>Some text content</p>
        <p><a href="#" class="btn btn-primary" role="button">Select</a> <a href="#" class="btn btn-default" role="button">Cancel</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dummyimage.com/250X200/000/fff" alt="Dummy image">
      <div class="caption">
        <h3>Third title</h3>
        <p>Some text content</p>
        <p><a href="#" class="btn btn-primary" role="button">Select</a> <a href="#" class="btn btn-default" role="button">Cancel</a></p>
      </div>
    </div>
  </div>
</div>
